<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938389649423-h8136sovd8f00s8aso190jg98ln5h981.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938389649423-h8136sovd8f00s8aso190jg98ln5h981</string>
	<key>API_KEY</key>
	<string>AIzaSyCvlDPh-S1s_G58kY7rwzr56bMZzwo45Nc</string>
	<key>GCM_SENDER_ID</key>
	<string>938389649423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bjit.flutter.nearme</string>
	<key>PROJECT_ID</key>
	<string>lateral-command-257315</string>
	<key>STORAGE_BUCKET</key>
	<string>lateral-command-257315.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938389649423:ios:d12c6569a373a2c8678b7a</string>
	<key>DATABASE_URL</key>
	<string>https://lateral-command-257315.firebaseio.com</string>
</dict>
</plist>